.mediaViewInfo {
	--web-view-name: 1;
	--web-view-id: n_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_ {
	position: absolute;
	width: 1520px;
	height: 1078px;
	background-color: rgba(255,0,195,1);
	overflow: auto;
	--web-view-name: 1;
	--web-view-id: n_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#n_6 {
	position: absolute;
	width: 551px;
	height: 133px;
	left: 485px;
	top: 473px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#n_3 {
	fill: rgba(255,255,255,1);
}
.n_3 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 75px;
	left: 427px;
	top: 26px;
}
#nanis_calling {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 552px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 105px;
	color: rgba(255,255,255,1);
}
#n_5 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 81px;
	left: 109px;
	top: 26px;
}