.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1440px;
	height: 2214px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#who_am_i {
	opacity: 0.19;
	left: 736px;
	top: 696px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,0,195,1);
}
#n_4 {
	position: absolute;
	width: 551px;
	height: 133px;
	left: 445px;
	top: 51px;
	overflow: visible;
}
#n_3 {
	fill: rgba(254,0,194,1);
	stroke: rgba(255,0,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3 {
	position: absolute;
	overflow: visible;
	width: 75px;
	height: 75px;
	left: 438px;
	top: 27px;
}
#nanis_calling {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 552px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 105px;
	color: rgba(255,0,195,1);
}
#n_5 {
	fill: transparent;
	stroke: rgba(255,0,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 81px;
	left: 108px;
	top: 27px;
}
#n__6 {
	position: absolute;
	width: 310px;
	height: 439px;
	left: 1063px;
	top: 1218px;
	overflow: visible;
}
#n__4 {
	position: absolute;
	width: 309px;
	height: 437px;
	left: 728px;
	top: 998px;
	overflow: visible;
}
#n__1 {
	position: absolute;
	width: 310px;
	height: 438px;
	left: 32px;
	top: 560px;
	overflow: visible;
}
#n__5 {
	position: absolute;
	width: 310px;
	height: 438px;
	left: 374px;
	top: 779px;
	overflow: visible;
}
#who_are_you {
	opacity: 0.19;
	left: 1078px;
	top: 912px;
	position: absolute;
	overflow: visible;
	width: 194px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,0,195,1);
}
#n_5_q {
	position: absolute;
	width: 266px;
	height: 48px;
	left: 419px;
	top: 474px;
	overflow: visible;
}
#n_4_r {
	fill: rgba(255,0,195,1);
}
.n_4_r {
	position: absolute;
	overflow: visible;
	width: 34px;
	height: 33px;
	left: 109px;
	top: 8px;
}
#whats_in_my_bag {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,0,195,1);
}
#n_4_t {
	fill: transparent;
	stroke: rgba(255,0,195,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_4_t {
	overflow: visible;
	position: absolute;
	width: 285.898px;
	height: 10px;
	left: 418.209px;
	top: 534.608px;
	transform: matrix(1,0,0,1,0,0);
}
#n_19 {
	opacity: 0.19;
	fill: transparent;
	stroke: rgba(255,0,195,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 166.541px;
	height: 10px;
	left: 735.381px;
	top: 756.219px;
	transform: matrix(1,0,0,1,0,0);
}
#n_20 {
	opacity: 0.19;
	fill: transparent;
	stroke: rgba(255,0,195,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_20 {
	overflow: visible;
	position: absolute;
	width: 200.377px;
	height: 10px;
	left: 1083.043px;
	top: 973.369px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21 {
	opacity: 0.19;
	fill: transparent;
	stroke: rgba(255,0,195,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_21 {
	overflow: visible;
	position: absolute;
	width: 200.377px;
	height: 10px;
	left: 813.465px;
	top: 1690.258px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_x {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5_x {
	overflow: visible;
	position: absolute;
	width: 411.577px;
	height: 10px;
	left: -6.421px;
	top: 534.608px;
	transform: matrix(1,0,0,1,0,0);
}
#n_12 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	overflow: visible;
	position: absolute;
	width: 401.577px;
	height: 1px;
	transform: matrix(1,0,0,1,1018.3441,1694.72) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_6 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 231.611px;
	left: 395.156px;
	top: 534.608px;
	transform: matrix(1,0,0,1,0,0);
}
#n_13 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_13 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 221.611px;
	transform: matrix(1,0,0,1,1018.344,1473.1089) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_7 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7 {
	overflow: visible;
	position: absolute;
	width: 334.236px;
	height: 10px;
	left: 395.156px;
	top: 756.219px;
	transform: matrix(1,0,0,1,0,0);
}
#n_14 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_14 {
	overflow: visible;
	position: absolute;
	width: 324.236px;
	height: 1px;
	transform: matrix(1,0,0,1,694.1077,1473.1089) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_8 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_8 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 227.149px;
	left: 719.392px;
	top: 756.219px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_15 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 217.149px;
	transform: matrix(1,0,0,1,694.1077,1255.9598) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_9 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_9 {
	overflow: visible;
	position: absolute;
	width: 353.572px;
	height: 10px;
	left: 719.392px;
	top: 973.369px;
	transform: matrix(1,0,0,1,0,0);
}
#n_16 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_16 {
	overflow: visible;
	position: absolute;
	width: 343.571px;
	height: 1px;
	transform: matrix(1,0,0,1,350.5363,1255.9597) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_10 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_10 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 219.713px;
	left: 1062.964px;
	top: 973.369px;
	transform: matrix(1,0,0,1,0,0);
}
#n_11 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_11 {
	overflow: visible;
	position: absolute;
	width: 387.036px;
	height: 10px;
	left: 1062.964px;
	top: 1183.081px;
	transform: matrix(1,0,0,1,0,0);
}
#n_17 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_17 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 209.712px;
	transform: matrix(1,0,0,1,350.5362,1046.2472) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#n_18 {
	fill: transparent;
	stroke: rgba(254,0,194,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 377.036px;
	height: 1px;
	transform: matrix(1,0,0,1,-26.5,1046.2473) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#just_me {
	opacity: 0.19;
	left: 866px;
	top: 1632px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,0,195,1);
}
#n_1 {
	fill: rgba(254,0,194,1);
	stroke: rgba(254,0,194,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 184px;
	left: 0px;
	top: 2034px;
}
#thanks_to_me_ {
	left: 640px;
	top: 2059px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: center;
	font-family: Harlow Solid;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	color: rgba(255,255,255,1);
}