.mediaViewInfo {
	--web-view-name: 6;
	--web-view-id: n_;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#null {
	position: absolute;
	width: 1520px;
	height: 2214px;
	left: 7939px;
	top: 29px;
	overflow: hidden;
}